[
    {sasl, [
        {sasl_error_logger, {file, LogFile}}]},

    {wsdemo_bench, [
                {host, "192.168.218.121"},
                {port, 3000},
                {db_root, tests},
                {clients, 100},
                {seconds, 10},
                {supervisord, {"192.168.218.121", 3000}}]}].
